doctype html
html(lang='en')
  head
    title Admin
  body
    table.tableview
      tr
        td
          a(href='/home')
            input.buttoncss(type='button', value='sign in')
        td
          a(href='/loginuseradd')
            input.buttoncss(type='button', value='sign up')
